// Typography
// $family-primary: "Nunito Sans", sans-serif;

$subtitle-weight: 100;

// Overwrite Bulma Colors
// $white: hsl(0, 0%, 100%);
// $black: hsl(0, 0%, 4%);
$light: #E8E8E8;
// $dark: #0A100D;
$primary: #29487C;
// $link: $primary;
$info: #2D3142;
$grey: #BFC0C0;
$success: #609B6D;
// // $warning: hsl(48, 100%, 67%);
// $danger: #810432;
